@import "tailwindcss";

@theme {
  --color-hero-heading-1: #1e1e1e;
  --color-hero-heading-2: #274aff;
  --color-hero-arc-dot: rgb(39, 74, 255);
}

@utility hero-gradient-text {
  background-image: linear-gradient(
    90deg,
    #1e1e1e 0%,
    #274aff 50.49%,
    #1e1e1e 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
@utility gradient-text {
  background-image: linear-gradient(270deg, #274afd -0.42%, #06197d 137.82%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
@layer utilities {
  .bg-gradient-blue {
    background: linear-gradient(270deg, #274afd -0.42%, #06197d 137.82%);
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
